package components

templ Login() {
	@Layout("Login") {
		<div>
			<h1 className="text-center">Login</h1>
			<p className="text-center">
				Receive anonymous compliments from your friends and send anonymous
				messages to your friends for free.
			</p>
			<a href="/login/google">
				Google Sign in
			</a>
		</div>
	}
}
