package components

templ Login() {
	<div>
		<h1 className="text-center">Login</h1>
		<p className="text-center">
			Recieve anonymous compliments from your friends and send anonymous
			messages to your friends for free.
		</p>
		<button>
			Google Sign in
		</button>
	</div>
}
