package components

templ Settings() {
	@Layout("Settings") {
		<div>
			<h1>Change Username</h1>
			<p>Hi there. Please set a username to continue</p>
			<form method="post">
				<input type="text" name="username" placeholder="Enter new username"/>
				<button type="submit">Change Username</button>
			</form>
		</div>
	}
}
